body {
  background-color: rgb(70, 70, 70);
  font-family:Arial;
  color: white;
}
#title {
 text-align: center;
 margin-top: 0;
}
#memo{
  margin-bottom: 0;
}
#underClock {
  position: absolute;
  top: 460px;
}
#hiddenSettings {
  display: none;
}
#clock {
  position: absolute;
  top: 60px;
  left: 50%;
  /* width: 390px;
  height: 390px; */
  margin-left: -195px;
}
.circle {
  aspect-ratio: 1/1;
  width: 110px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}
.dial {
  background-color: black;
  width: 10px;
  height: 53px;
  position: absolute;
  transform-origin: center bottom;
  transform: translate(50px, 2px);
}
.twelve {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  transform: translate(50px,-10px);
}
.one {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(30deg);
  transform-origin: 5px 65px;
}
.two {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(60deg);
  transform-origin: 5px 65px;
}
.three {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(90deg);
  transform-origin: 5px 65px;
}
.four {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(120deg);
  transform-origin: 5px 65px;
}
.five {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(150deg);
  transform-origin: 5px 65px;
}
.six {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(180deg);
  transform-origin: 5px 65px;
}
.seven {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(210deg);
  transform-origin: 5px 65px;
}
.eight {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(240deg);
  transform-origin: 5px 65px;
}
.nine {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(270deg);
  transform-origin: 5px 65px;
}
.ten {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(300deg);
  transform-origin: 5px 65px;
}
.eleven {
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transform: translate(50px, -10px) rotate(330deg);
  transform-origin: 5px 65px;
}
.u {
  left: 140px;
}
.ur {
  left: 280px;
}
.l {
  top: 140px;
}
.c {
  left: 140px;
  top: 140px;
}
.r{
  left: 280px;
  top: 140px;
}
.dl {
  top: 280px;
}
.d {
  left: 140px;
  top: 280px;
}
.dr {
  left: 280px;
  top: 280px;
}
#bigText {
  font-size: 25px;
  font-weight: bold;
  color: red;
}
#letterButtons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
}

#letterButtons button {
  font-size: 1.2em;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  background-color: #444;
  color: white;
}

button {
  font-size: 16px;
  touch-action: manipulation;
}
